* {
    padding: 10px;
}
hr {
    margin: 0;
}
.main {
    background-color: aqua;
}
.input-col {
    padding-top: 0;
}
.input-password {
    height: 100px;
    font-size: xx-large;
    text-align: center;
    width: 700px;
}